{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <h2>{{challenge}}</h2>

    <div class="box-evaluation-individuelle">
        <span>Type d'épreuve</span> 
        <div class="fleche-select">
        <select name="type-epreuve" id="type-epreuve">
            <option value="1">Chronométrée</option>
            <option value="2">Chronométrée</option>
            <option value="3">Chronométrée</option>
        </select>
       </div>
    </div>

    <div class="box-evaluation-individuelle">
        <span>Notation</span> 
        <div class="fleche-select">
        <select name="notation-epreuve" id="notation-epreuve">
            <option value="1">Ascendant</option>
            <option value="2">Descendant</option>
        </select>
        </div>
    </div>

    <div class="box-evaluation-individuelle">
        <span>Coefficient de l'épreuve</span> 
        <div id="box-coefficient-epreuve">
        <span value="-">-</span>
        <input type="number" name="coefficient-epreuve" id="coefficient-epreuve" min="0" max="10" value="1">
        <span value="+">+</span>
        </div>
    </div>

    <div class="box-evaluation-equipe">
        <h3>Évaluer l'équipe</h3>
        <div class="fleche-select">
        <form id="form-evalutation-equipe">
        <select name="type-epreuve" id="type-epreuve">
            <option value="1">Chronométrée</option>
            <option value="2">Chronométrée</option>
            <option value="3">Chronométrée</option>
        </select>
        <input type="submit" value="GO">
        </form>
        </div>
    </div>

    <div class="box-valider"><button id="valider">Valider</button></div>

{% endblock %}