.liste-epreuves{
    max-height: 50vh;
    overflow-y:scroll;

    &::-webkit-scrollbar{
        width: 20px;
        height: 8px;
        background-color: $blanc;
    }
    &::-webkit-scrollbar-thumb{
        background:$vert;
        border-radius: 10px;
    }
    scrollbar-color: $vert $blanc;
    scrollbar-width: 30px;
}

.bloc-epreuve {
    svg {
        float:right;
        margin-top: 10px;
        font-size: 3rem;
        color: $blanc;
        background-color: $vert;
        padding: 10px;
        border-radius: 50%;
    }
    background-color: $blanc;
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 1px 5px 10px grey;
    h3 {
        font-size: 4rem;
        text-align: center;
        padding: 18px 0;
        &::after {
            display: block;
            margin: 0 auto;
            content: "";
            width: 80%;
            border-bottom: 3px solid $noir;
        }
    }
    div {
        &.description {
            font-size: 1.1rem;
            text-align: center;
            padding:0 10px;
        }
        &.coefficient {
            text-align: right;
        }
    }
}
