{% extends 'base.html.twig' %}

{% block title %}Hello ResultatsController!{% endblock %}

{% block body %}

    {# <h1>Equipe {{ team }}</h1> #}

    <h2>Résultats par épreuve</h2>

    <div class="liste-epreuves">
    {% for challenge in challenges %}

    {% include "_components/_bloc-epreuve.html.twig" %}

    {% endfor %}
    </div>

{% endblock %}
