{% extends 'base.html.twig' %}

{% block title %}Hello ResultatsController!{% endblock %}

{% block body %}

    {# <h1>Equipe {{ team }}</h1> #}

    <h2>Résultats par épreuve</h2>

    <div class="liste-epreuves">
    {% for challenge in challenges %}

    <div class="bloc-epreuve">
        {#         <i class="fa-solid fa-arrow-right"></i>
        #}
        <span class="arrow"><span></span></span>
        <h3>{{ challenge.name }} </h3>
        <div class="description">{{ challenge.description }}</div>
        <div class="coefficient">coeff {{ challenge.coefficient }}</div>
    </div>
        <br>

    {% endfor %}
    </div>

{% endblock %}
