// input des pages chooseName et gestion équipe
.input-line {
    input {
        font-family: 'Inconsolata', sans-serif;
        border: none;
    }
    button {
        font-family: 'Roboto', sans-serif;
        
    }
}