// input des pages chooseName et gestion équipe
.input-line {
    position: relative;
    text-align: center;
    margin-left: 35px;
    input {
        font-family: 'Inconsolata', sans-serif;
        border: none;
        font-size: 1.3rem;
        padding: .5rem;
        margin-top: 1rem;
        @include shadow;
        &:focus-visible {
            outline:none;
        }
    }
    button {
        font-family: 'Roboto', sans-serif;
        transform: translateX(-50%);
        border:none;
        background: $green;
        font-size: 1.3rem;
        color: $blanc;
        padding: .1rem .6rem;
    }
}