:root{
    font-family: $font-main;
}

input, textarea, select, button{
    font-family: $font-secondary;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-title;
}

// ! Mise en page de toutes les pages

// * Global
body {
    background-color: #F6FBF4;
}

// * Header
header {
    @include shadow;
    nav {
        ul {
            list-style-type: none;
        }
    }
}

// * Blob de l'écran d'accueil
.blob {

}