// * Police d'écriture
$font-main : 'Roboto', sans-serif;
$font-secondary : 'Incosolata', monospace;
$font-title : 'Inder', sans-serif;

// * Couleurs
$page-background: #F6FBF4;
$green: #289672;
$green-light: #5FD068;
$brown: #483838;
$blanc : #FFF;
$noir : #000;
$grey : #454545