{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h2>{{challenge}}</h2>
    <h3> {{team}} </h3>

    <div class="content-block">
        <h4>Temps</h4>
        <div class="flex-element">
            <span>Minutes</span>
            <div id="box-coefficient-epreuve" data-controller="coefficient">
                <span value="-">-</span>
                <input type="number" name="coefficient-epreuve" id="coefficient-epreuve" min="0" max="10" value="1">
                <span value="+">+</span>
            </div>
        </div>
        <div class="flex-element">
            <span>Secondes</span>
            <div id="box-coefficient-epreuve" data-controller="coefficient">
                <span value="-">-</span>
                <input type="number" name="coefficient-epreuve" id="coefficient-epreuve-2" min="0" max="10" value="1">
                <span value="+">+</span>
            </div>
        </div>
    </div>

    <div class="content-block">
        <h4>Coeff surprise de l'équipe</h4>
        <div class="coeff-surprise">
            <input type="range" id="coeff-surprise" name="coeff-surprise"
            min="0" max="2" step="1">
            <div>
                <span>0.8</span>
                <span>1</span>
                <span>1.2</span>
            </div>
        </div>
    </div>
{% endblock %}