{% extends 'base.html.twig' %}

{% block title %}SUAPS - Gestion équipes{% endblock %}

{% block body %}
    <section>
        <h1 class="les-equipes">Les équipes</h1>
    </section>
    <section>
        {% for key, team in teams %}
            <div class="{{ key+1 }} content-block box equipe">
                <p>{{ team.name }}</p>
                <a href="{{ path('app_prof_teams_delete', { 'id': team.id }) }}"><i class="fa-regular fa-trash-can"></i></a>
            </div>
        {% endfor %}
    </section>
    <button id="ajoute-equipe">+</button>
    <div style="text-align:center"><button id="valider">Valider</button></div>
{% endblock %}
