<div class="bloc-epreuve">
  <span class="arrow"><span></span></span>
  <h3>{{ challenge.name }} </h3>
  <div class="description">{{ challenge.description }}</div>
  <div class="coefficient">coeff {{ challenge.coefficient }}</div>
</div>