<div class="modal-window">
<span class="close">X</span>
<p>Etes-vous certain(e) de vouloir supprimer les informations ?</p>

<form method="post" action="">
<input type="checkbox" name="delete" value="1" /> Oui <br />
<input type="submit" name="submit" value="Supprimer" />
</form>

</div>