<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}SUAPS
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('/images/logo.svg') }}">
        <meta name="theme-color" content="#F6FBF4" />
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			<nav>
				<ul>
					{% block goBack %}{% endblock %}
					<li><a href="#!" class="header-title">SUAPS</a></li>
					{% if path(app.request.attributes.get('_route')) starts with '/prof' %}
						<li><img src="{{ asset('images/toolbox.svg') }}" alt="logo boite à outils"/></li>
					{% endif %}
				</ul>
			</nav>
		</header>
		<main class="content{% if path(app.request.attributes.get('_route')) starts with '/prof' %} admin {% else %} user{% endif %}">
            {% block body %}{% endblock %}
			<section class="blob">
			</section>
		</main>
	</body>
</html>
