.section-image {
    .illustration {
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        img {
            width: 50%;
            margin-right: 5%;
            border-radius: 40px;
        }
    }
}