.hello {
    font-size: 1.125rem;
    text-align: center;
}

.team-name {
    display: inline-block;
    background-color: $green;
    rotate: -2deg;

    span {
        display: inline-block;
        color: #fff;
        font-size: 1.5rem;
        padding: 0.25rem 1rem;
        rotate: 2deg;
    }
}

.img-stats {
    display: block;
    margin: 4rem auto 2rem;
    height: clamp(5rem, 100vh - 500px, 600px);
    max-width: 90%;
    @media (max-height: 600px) {
        margin-top: 1rem;
    }
}

.card {
    background-color: #fff;
    @include shadow;
    padding: .5rem;
    margin: 0 2rem 1rem;
    text-align: center;
}

.go-to {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.direction {
    font-size: 1.75rem;
    margin-bottom: .5rem;
}

.description {
    font-size: 1rem;
    font-weight: bold;
    color: $grey;
}

.section-points {
    font-size: 1.75rem;
}

.your-team-scored {
    margin-bottom: .5rem;
}

.points {
    font-weight: bold;
    &::before {
        content: url(../../../../public/images/Vector.svg);
    }
}
