h1 {
	text-align: center;
	margin-block: 1rem;
	font-size: 2rem;
	text-transform: uppercase;
}

.card-results {
	border-radius: 10px;
	padding: 1rem;
}

.results-podium {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	gap: 1rem;
	.result {
		display: grid;
		grid-template-columns: 1fr 3fr;
		gap: 0.5rem;
		text-align: left;
		.trophy {
			grid-column: 1 / 1;
			grid-row: 1 / 3;
			margin-inline: auto;
			&1 {
				background-image: url(../../../../public/images/trophy-gold.svg);
				width: 51px;
				height: 45px;
			}
			&2 {
				background-image: url(../../../../public/images/trophy-silver.svg);
				width: 40px;
				height: 40px;
			}
			&3 {
				background-image: url(../../../../public/images/trophy-bronze.svg);
				width: 30px;
				height: 40px;
			}
		}
		.name {
			grid-column: 2 / 2;
			grid-row: 1 / 1;
			font-size: 1.5rem;
			text-transform: uppercase;
			word-break: break-word;
		}
		.result-points {
			grid-column: 2 / 2;
			grid-row: 2 / 2;
			font-size: 1rem;
			color: $grey;
		}
	}
}

.results-rest {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0 1rem 0 0;
	.result {
		display: flex;
		justify-content: space-between;
		align-items: end;
	}
	.classement {
		font-size: 1.5rem;
		text-align: left;
	}
	.result-points {
		font-size: 1rem;
		color: $grey;
	}
}




.card {
	display: block;
	background-color: #fff;
	@include shadow;
	padding: 0.5rem;
	text-align: center;
	text-decoration: none;
	color: #000;
	border-radius: 10px;
}

.card-main {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	align-items: center;
	gap: 0.5rem 0;

	.title {
		font-size: 1.875rem;
		font-weight: bold;
	}
	.arrow {
		justify-self: right;
	}
	.description {
		grid-column: 2;
		border-top: $grey 2px solid;
		padding-top: 0.5rem;
	}

	&_wrapper {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}

.reset-all {
	background-color: $brown;
	color: #fff;
	border: none;
	border-radius: 50vh;
	font-size: 1.875rem;
	display: block;
	margin: 1rem auto;
	padding: 0.5rem 1rem;
}


#favDialog{
	position:absolute;
	height:min-content;
	top:45vh;	
	width:80%;
	padding:1rem 1rem;
	margin: 0 auto;
	border:0;
	@include shadow;
	border-radius: 10px;

	div{
		display:flex;
		flex-direction:column;
		gap:1rem;
	}

	p{
		font-size:1.75rem;
		text-align:center;
		margin-bottom:1rem;
	}

	button.button{
		width:100%;
		height:100%;
		border-radius:0;
		border:0;
		background-color: $green	;
		color: #fff;
		font-size: 1.875rem;
		padding:1rem;
		&#confirmBtn{
			background-color:$brown;
			a{
				color:inherit;
				text-decoration:none;
			}
		}
	}

}

section.card{
	position:relative;
	padding-bottom: 1.2rem;
	margin-bottom: 2rem;
	h2{
		font-family : "Inconsolata", sans-serif;
		font-size: 2.5rem;
	}
	hr{
		margin: .25rem 0 .5rem 0;
	}
	a.arrow{
		text-decoration:none;
		color: $blanc;
		background: $green;
		border-radius: 50%;
		padding: .5rem .75rem;
		font-size : 1.1rem;
		position:absolute;
		top:8px; right:5px;
	}
	p{
		&.coeff{
			color:grey;
			position:absolute;
			bottom:0;
			right:5px;
		}
	}
}

