.choose-team {
	text-align: center;
	font-size: 1.125rem;
}

.team {
	&_wrapper {
		overflow-y: scroll;
		max-height: 25rem;
		padding: 0rem 1rem 22px;

		li {
			position: relative;
		}
	}

	&_title {
		position: absolute;
		background-color: $green;
		width: fit-content;
		rotate: -2deg;
		top: -1.5rem;
		left: 1rem;
		h2 {
			color: $blanc;
			font-size: 1.5rem;
			font-weight: normal;
			padding: 0.25rem 1rem;
			margin: 0;
			text-transform: none;
			rotate: 2deg;
		}
	}

	&_content {
		@include shadow;
		background-color: $blanc;
		padding: 1.5rem 1rem 1rem 1rem;
		margin-top: 3rem;

		&_inner {
			display: flex;
			justify-content: space-between;

			li {
				font-size: 1.5rem;
			}

			.left {
				word-break: break-word;
			}
			.right {
				display: grid;
				> * {
					grid-column: 1 / 1;
					grid-row: 1 / 1;
				}
			}
		}
	}
}
