{% extends 'base.html.twig' %}

{% block title %}SUAPS - Accueil{% endblock %}

{% block body %}
<section class="section-title">
    <h1>*TITRE en gras*</h1>
    <p class="date-now">14 novembre 2022</p>
</section>
<section class="section-image">
    <img src="#" alt="Image d'illustration" class="image-user">
</section>
<section class="section-input">
    <form class="input-line">
        <input type="text" placeholder="Votre nom">
        <button type="submit">OK</button>
    </form>
</section>
{% endblock %}
